{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="row">
    <div class="dashboard-header">
        <div class="title-dashboard">
            <h1>Dashboard</h1>
            <p></p>
        </div>
    </div>

</div>
{% endblock %}
