<!--  BEGIN NAVBAR  -->
<a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
</a>

<ul class="navbar-item flex-row search-ul">
    <li class="nav-item align-self-center search-animated">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-search toggle-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <form class="form-inline search-full form-inline search" role="search">
            <div class="search-bar">
                <input type="text" class="form-control search-form-control  ml-lg-auto"
                       placeholder="Type here to search">
            </div>
        </form>
    </li>

</ul>
{#
<ul class="navbar-item flex-row search-ul">
    <li class="menu nav-item align-self-center">
        <a href="#app" data-active="false" class="menu-toggle" >
            <img src="{{ asset('enterprise/front-desk.png') }}">
        </a><br>
        <span style="margin: -22%;">student Center</span>
    </li>
    
</ul>#}

<ul class="navbar-item flex-row navbar-dropdown">
    <li class="menu nav-item align-self-center pr-4">
        <a href="#app" data-active="false" class="menu-toggle" >
            <img src="{{ asset('enterprise/front-desk.png') }}">
        </a><br>
        <span style="margin: -22%;">student Center</span>
    </li>

    <li class="menu nav-item align-self-center">
        <a href="#SYSTEM-MANAGEMENT" data-active="false" class="menu-toggle" >
            <img src="{{ asset('enterprise/collection.png') }}">
        </a><br>
        <span style="margin: -22%;">System Management</span>
    </li>

</ul>
<!--  END NAVBAR  -->