{% extends 'base.html.twig' %}

{% block title %}Class Information{% endblock %}

{% block page_title %}Class Information{% endblock %}
{%block page_actions%}
    <a href="{{ path('app_class_header') }}">
        <img src="{{ asset('enterprise/icons8-move-selection-to-top-row-30.png') }}">
    </a>
{%endblock%}
{% block body %}
    <div class="row layout-top-spacing">
        {{ include('feedback_flash_messages.html.twig') }}
        <div class="col-lg-1 col-1 layout-spacing"></div>
        <div class="col-lg-10 col-10 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Enter Class Details</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area border-top-tab">
                    <div class="form-row">
                        <div class="form-group col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}