<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu" id="sidebar-menu">
            <ul>
                <li>
                    <a href="#" onclick="loadMainMenu('school_setup')"><i class="fas fa-home back-icon"></i> <span>Main Menu</span></a>
                </li>
                <li class="menu-title">School & Setup</li>
                <li class="submenu ">
                    <a href="#"><i class="fa fa-pencil-ruler"></i><span>Setup</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="">
                            <a href="{{path('app_school_information')}}"> School </a>
                        </li>
                        <li>
                            <a href="{{ path('app_class_header') }}"> Classes </a>
                        </li>
                        <li>
                            <a href=""> Teachers </a>
                        </li>
                        <li>
                            <a href="{{ path('app_course_management') }}"> subjects </a>
                        </li>
                        <li>
                            <a href="{{ path('app_create_course', {'action': 'add', 'id': ''}) }}">Add Subject </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</div>