<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu" id="sidebar-menu">
            <ul>
                <li>
                    <a href="#" onclick="loadMainMenu('settings')"><i class="fas fa-home back-icon"></i> <span>Main Menu</span></a>
                </li>
                <li class="menu-title">System & Settings</li>
                <li class="submenu ">
                    <a href="#"><i class="fa fa-code"></i><span>Developer Options</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('app_id_generator', {'action': 'add', 'id': ''}) }}"> Custom ID Generation </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu ">
                    <a href="#"><i class="fa fa-lock"></i> <span>Security</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li>
                            <a href="">Users</a>
                        </li>
                        <li>
                            <a href="">Roles</a>
                        </li>
                        <li>
                            <a href="">Permissions</a>
                        </li>
                        <li>
                            <a href="">Access logs</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu ">
                    <a href="#"><i class="fa fa-link"></i> <span>Sys. Configs</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li>
                            <a href="">Users</a>
                        </li>
                        <li>
                            <a href="">Roles</a>
                        </li>
                        <li>
                            <a href="">Permissions</a>
                        </li>
                        <li>
                            <a href="">Access logs</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>