<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="">
                    <a href="#" style="border-bottom: 2px solid coral;border-left: 2px solid coral; color: white" onclick="loadMainMenu('student_center')"><i class="fas fa-home back-icon"></i> <span>Main Menu</span></a>
                </li>

                <li class="menu-title " style="border-bottom: 1px solid coral; color: white"><img src="{{ asset('icons/group_94182/Group_Icon_32.png') }}"  aria-hidden="true"> <span>Student Center</span> </li>
                <li>
                    <a href="{{ path('app_enroll_class_header') }}"><i class="fa fa-plus" aria-hidden="true"></i> <span> Enroll Student</span> </a>
                </li>
                <li>
                    <a href="{{ path('app_student_header') }}"><i class="fa fa-users" aria-hidden="true"></i> <span>All Students </span></a>
                </li>
                <li>
                    <a href="{{ path('app_class_room_view') }}"><i class="fa fa-columns" aria-hidden="true"></i> <span>Class Rooms </span></a>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-shopping-cart" aria-hidden="true"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">

                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>